{% extends "app_blog/base.html" %}

{% block title %}
  New Post
{% endblock %}

{% block content %}

        <h1>Create New Post</h1>

        {% if error_message %}
            <div class="alert alert-warning" role="alert">
                {{ error_message }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input class="form-control" name="title" value="{{ input_title }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Author</label>
                <input class="form-control" name="author" value="{{ input_author }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control" name="content">{{ input_content }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}